formation,facies,property,scale
Valysar,Floodplain,K0,<K0_Floodplain_SCALING_FACTOR>
Therys,Floodplain,K0,<K0_Floodplain_SCALING_FACTOR>
Therys,Floodplain,K0,<K0_Floodplain_SCALING_FACTOR>

Valysar,Channel,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Therys,Channel,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Therys,Channel,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Valysar,Crevasse,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Therys,Crevasse,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Therys,Crevasse,YOUNGS_MODULUS,<E_SAND_SCALING_FACTOR>
Valysar,Floodplain,YOUNGS_MODULUS,<E_Floodplain_SCALING_FACTOR>
Therys,Floodplain,YOUNGS_MODULUS,<E_Floodplain_SCALING_FACTOR>
Therys,Floodplain,YOUNGS_MODULUS,<E_Floodplain_SCALING_FACTOR>

Valysar,Channel,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>
Therys,Channel,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>
Therys,Channel,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>
Valysar,Crevasse,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>
Therys,Crevasse,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>
Therys,Crevasse,BIOT_COEFFICIENT,<BIOT_SAND_SCALING_FACTOR>

Valysar,Channel,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>
Therys,Channel,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>
Therys,Channel,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>
Valysar,Crevasse,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>
Therys,Crevasse,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>
Therys,Crevasse,POISSONS_RATIO,<PR_SAND_SCALING_FACTOR>

Valysar,Channel,K_IC,<K_IC_SCALING_FACTOR>
Therys,Channel,K_IC,<K_IC_SCALING_FACTOR>
Therys,Channel,K_IC,<K_IC_SCALING_FACTOR>
Valysar,Crevasse,K_IC,<K_IC_SCALING_FACTOR>
Therys,Crevasse,K_IC,<K_IC_SCALING_FACTOR>
Therys,Crevasse,K_IC,<K_IC_SCALING_FACTOR>
Valysar,Floodplain,K_IC,<K_IC_SCALING_FACTOR>
Therys,Floodplain,K_IC,<K_IC_SCALING_FACTOR>
Therys,Floodplain,K_IC,<K_IC_SCALING_FACTOR>

Valysar,Channel,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Channel,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Channel,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Valysar,Crevasse,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Crevasse,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Crevasse,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Valysar,Floodplain,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Floodplain,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>
Therys,Floodplain,PROPPANT_EMBEDMENT,<EMB_SCALING_FACTOR>


